/* Footer.css */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Updated to center the icons vertically */
  background-color: orange;
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  margin-top: 8px; /* Adjusted the margin for spacing */
}

.icon svg {
  margin-bottom: 6px; /* Added margin between icon and text */
}

.iconText {
  font-size: 12px;
  font-family: "Cafe24Ssurround", sans-serif;
}

.icon:hover {
  color: #fff;
}

body {
  margin-bottom: 85px; /* Footer의 높이에 따라 조절 */
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
